*{
    margin: 0;
    padding: 0;
}


.wrapper{
    display: block;
    width: 970px;
    margin: 10px auto ;
    background-image: radial-gradient(rgb(111,89,100),rgb(72,53,61));


}
.header{
    display: block;
    width:950px;
    background-color: white;
    padding: 10px;
    background-color: rgb(246,246,246);
}

h1{
    display: inline-block;
    width: 48%;
    text-align: left;
}

h2{
    display: inline-block;
    width: 48%;
    text-align: right;
}


img{
    display: inline-block;
    width: 200px;
}

.about{
    display: inline-block;
    width: 508px;
    background-color: rgb(233,225,233);
    margin-left: 30px;
    height: 270px;
    vertical-align: top;
}
h3{
    background-image: linear-gradient(rgb(176,175,180), rgb(142,140,152));
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
}

h4{
    background-image: linear-gradient(rgb(176,175,180), rgb(142,140,152));
    height: 30px;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    margin-bottom: 10px;
}

.section1{
    padding: 15px;
}
.section2{
    display: inline-block;
    width: 970px;
    padding: 15px;

}
.projectBox{
    display: inline-block;
    width: 290px;
    background-color:rgb(233,225,233);

}
.projectBox2{
    display: inline-block;
    width: 290px;
    background-color: rgb(233,225,233);
    margin-left: 30px;
    margin-right: 30px;
}

.projectBox, .projectBox2{
    height: 630px;
    vertical-align: top;
}

.projectBox p{
    margin: 10px;
}

.projectBox2 p {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 31px;
    margin-right: 10px;
}

#projectBox1{
    margin: 20px;
}
.projectPic{
    width: 100%;

}
.button{
    display: block;
    width: 80px;
    height: 29px;
    background-color: green;
    color: whitesmoke;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

.button2{
    display: block;
    width: 80px;
    height: 29px;
    background-color: green;
    color: whitesmoke;
    margin-left: 85px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

.footer{
    display: block;
    width: 970px;
    background-color:rgb(246,246,246);
    text-align: center;

}

.tech{
    display: inline-block;
    width: 50px;
}

.mugshot{
    vertical-align: top;
    width: 390px;
    border: solid rgb(233,225,233) 4px;
}

.logos{
    display: inline;
    width: 20px;

}
.footer{
    text-align: center;
}

.footer img, .footer a{
    vertical-align: middle;
}





